.BoxHeader {
     // position: fixed; 
     display: flex;
     justify-content: space-between;
     align-items: center;
     top: 0;
     left: 0;
     width: auto;
     height: 64px; 
     background-color: #018bd3;
     padding: 0 10px;
     z-index: 10; 
   }

.boxArrowHeader {
     width: 47px;
     background-color: none;
     padding-left: 10px;
}

.headerText {
     font-size: 18px;
     font-weight: 600;
     color: #fff;
}

.logoHeader {
     width: 60px;
     height: 43px;
   }

// .logoHeader {
//      margin-right: 20px;
// }