.footer {
  // background-color: #f9f9f9;
  padding: 5px 0;
  // border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%; 
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 4px 0; 
  box-sizing: border-box; 
}

.input {
  flex-grow: 1; 
  height: 40px; 
  background-color: #f3f3f3;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 12px;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  resize: none;
  min-width: 150px; 
  width: 100%; 
  margin-top: 5px;
}

.sendIcon, .clip-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 5px 0 0 15px; 
  border: none;
  background-color: none;
}

.clip-icon {
  width: 24px;
  height: 24px;
}

.sendIcon {
  width: 32px;
  height: 32px;
background-color: transparent !important; 
border: none; 
&:hover {
  background-color: transparent !important; 
}
&:active {
  background-color: transparent !important; 
}
}

.sendIconActive {
  background-color: transparent !important; 
}
