@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.footer {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  // position: fixed;
  // bottom: -5%;
  // left: 0;
  width: 98%;
  z-index: 100;
  margin: 0 1% 5px 1%;
}

.inputFile {
  width: 100%;
  background-color: #f3f3f3;
  align-items: flex-start;
  border-radius: 30px;
  padding: 5px 0;
  box-sizing: border-box;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%; 
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 4px 0; 
  box-sizing: border-box; 
}

.input {
  flex-grow: 1; 
  height: 40px; 
  background-color: #f3f3f3;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 12px;
  color: #000;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.5;
  border: none;
  outline: none;
  resize: none;
  min-width: 150px; 
  width: 100%; 
  margin-top: 5px;
}

.sendIcon, .clip-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 5px 0 0 15px; 
  border: none;
  background-color: none;
}

.clip-icon {
  margin-bottom: 5px ;
}

.sendIcon {
  width: 32px;
  height: 32px;
background-color: transparent !important; 
border: none; 
&:hover {
  background-color: transparent !important; 
}
&:active {
  background-color: transparent !important; 
}
}

.sendIconActive {
  background-color: transparent !important; 
}

.modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  max-width: 170px;
  overflow-y: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: absolute;
  width: 170px;
  position: fixed; 
  bottom: 0; 
  left: 20px; 
  z-index: 200;
}

.modal-button {
  padding: 10px 12px 10px;
  font-size: 12px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative;

  & + .modal-button {
    border-top: 1px solid #ddd;
  }

  &:hover {
    background-color: #f9f9f9;
  }
}

.button-icon {
  position: absolute; 
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 20px;
  height: 20px;
}

.attached-images-container {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px 0;
  max-width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
.attached-image-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.attached-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 0 5px;
}
.remove-image-button {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #808080;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 14px;
  width: 14px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  transition: background-color 0.2s ease, transform 0.2s ease;
  &:active {
    background: #505050; /* Ещё темнее при нажатии */
  }
}
.inputWithAttachments {
  flex-direction: column;
  border-radius: 10px;
}